//== Navbar
.app-header.navbar {
  .navbar-brand {
    margin-right: 0;

    @include media-breakpoint-down(sm) {
      background-image: none;
    }
  }
}

//== Sidebar
.app-body {
  .sidebar {
    overflow-x: hidden;

    .nav-title {
      font-size: .75rem;
      line-height: 1.3125rem;
      padding: 0;

      & > * {
        display: block;
        padding: $sidebar-nav-title-padding-y $sidebar-nav-title-padding-x;
      }

      a {
        color: $sidebar-nav-link-color;

        &.active {
          // color: $sidebar-nav-link-active-color;
          background: $sidebar-nav-link-active-bg;
        }

        &:hover, &.active:hover {
          text-decoration: none;
          color: $sidebar-nav-link-hover-color;
          background: $sidebar-nav-link-hover-bg;
        }
      }

      span {
        cursor: default;
      }
    }
  }
}
